# Ignore specific files
mqtt_init.py
serviceAccountKey.json
broker.ipynb
./main.py
./broker.py

# Ignore directories and their contents
client/node_modules/
car/
server/
traffic-light/
test/
__pycache__/
