.headerContainer {
    padding: 10px;
    border: 1px solid #63636340;
    box-shadow: -5px 4px 10px rgb(28 28 28);
    background-color: #00000020;
    width: calc(100% - 7px);
    left: 0;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    color: white;
    backdrop-filter: blur(8px);
    z-index: 99;
}

.headerLogo {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: x-large;
}